@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
header
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
body
{
    background: #111
}
section
{
    position: relative;
    padding: 100px;
}
.landingPage
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.landingPage::before
{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#111,transparent);
    z-index: 1000;
}
/* compiles all the images */
.landingPage img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
/* Changes the appearance of the moon */
.landingPage img#moon
{
    mix-blend-mode: screen;
}
/* Puts the mountain ahead of the words */
.landingPage img#mountain_front
{
    z-index: 10;
}
/* text modification for the title screen */
#text
{
    position: absolute;
    /* right: -350px; */
    color: #fff;
    white-space: nowrap;
    font-size: 6.5vw;
    z-index: 9;
}
#exploreButton
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.backToTopButton
{
    width: 70px;
    height: 70px;
    position:fixed;
    right: 90px;
    bottom: 90px;
    z-index: 100000;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, #111, transparent);
}
.banner .content
{
    position: relative;
    max-width: 900px;
    text-align: center;
    z-index: 1;
}
.banner .content h2
{
    color: #fff;
    font-size: 5em;
}
.banner .content p{
    color: #fff;

}
.button
{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 30px;
    background: #fff;
    color: #333;
    text-decoration: none;
}
.fitBg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.about
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .contentBx
{
    max-width: 50%;
    width: 50%;
    text-align: end;
    padding-right: 40px;
}
.titleText
{
    font-weight: 600;
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
}
.text
{
    color: #fff;
    font-size: 1em;
}
.about .imageBox
{
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 500px;
}
.banner2,
.banner3
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner2::before,
.banner3::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, #111, transparent);
}
.banner2::after,
.banner3::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, #111, transparent);
}
.project
{
    text-align: center;
}
.project .content
{
    text-align: center;
}
.project .projectList
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.project .projectList .box
{
    position: relative;
    min-width: 350px;
    height: 480px;
    background: #191919;
    transition: 0.5s;
    margin: 10px;
}
.project .projectList:hover .box
{
    opacity: 0.2;
}
.project .projectList .box:hover
{
    opacity: 1;
}
.project .projectList .box .imageBox
{
    position: relative;
    width: 100%;
    height: 400px;
}
.project .projectList .box .content
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.project .projectList .box .content h2
{
    color: #fff;
    font-weight: 500;
    line-height: 1.2em;
}
.project .projectList .box .content h2 span
{
    max-width: 50px;
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.5;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer .sci
{
    position: relative;
    display: flex;
}
.footer .sci li
{
    list-style: none;
}
.footer .sci li a
{
    text-decoration: none;
    margin: 0 20px;
}
.footer .sci li a img
{
    filter: invert(1);
    max-width: 40px;
}
.copyrightText
{
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    color: #666;
    text-align: center;
}
/* Use below if you include a hyperlink in the copyright */
/* .copyrightText a{
    color: #fff;
    text-decoration: none;
} */

@media (max-width: 767px)
{
    section
    {
        padding: 40px;
    }
    .banner .content h2
    {
        font-size: 2.5em;
    }
    .banner .content p
    {
        font-size: 1em;
    }
    .about
    {
        flex-direction: column;
    }
    .about .contentBx,
    .about .imageBox
    {
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }
    .about .imageBox
    {
        min-height: 250px;
    }
    .button
    {
        margin-bottom: 30px;
    }
    .project .projectList .box
    {
        position: relative;
        max-width: 350px;
        width: 350px;
        height: 400px;
    }
    .project .projectList .box .imageBox
    {
        height: 320px;
    }
    .footer .sci li a img
    {
        filter: invert(1);
        max-width: 30px;
    }
}